 <!-- nav bar start -->
 <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="width:100%">
        <!--toggle button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!--navbar Links -->
        <ul class="navbar-nav">
            <!-- first navnar tab -->
        <li class="nav-item  dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Employ</a>
            <div class="dropdown-menu" aria-labelledby="dropdown_target">
                <!-- dropdown items -->
                <a class="dropdown-item" href="/employee/employ_type1">Type1</a>
                <a class="dropdown-item" href="/employee/employ_type2">Type2</a>
                <a class="dropdown-item" href="/employee/employ_type3">Type3</a>
                <a class="dropdown-item" href="/employee/employ_type4">Type4</a>
                <a class="dropdown-item" href="/employee/employ_type5">Type5</a>
                <a class="dropdown-item" href="/employee/employ_type6">Type6</a>
                <a class="dropdown-item" href="/employee/employ_type7">Type7</a>
                <a class="dropdown-item" href="/employee/employ_type8">Type8</a>
                <a class="dropdown-item" href="/employee/employ_type9">Type9</a>
                <a class="dropdown-item" href="/employee/employ_type10">Type10</a>
                <a class="dropdown-item" href="/employee/employ_type11">Type11</a>
                <a class="dropdown-item" href="/employee/employ_type12">Type12</a>  
            </div>
        </li>
        <!-- second navbar tab -->
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Deploy</a>
                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                    <!-- dropdown items -->
                        <a class="dropdown-item" href="/employee/deploy_type1">Type1</a>
                        <a class="dropdown-item" href="/employee/deploy_type2">Type2</a>
                        <a class="dropdown-item" href="/employee/deploy_type3">Type3</a>
                        <a class="dropdown-item" href="/employee/deploy_type4">Type4</a>
                        <a class="dropdown-item" href="/employee/deploy_type5">Type5</a>
                        <a class="dropdown-item" href="/employee/deploy_type6">Type6</a>
                        <a class="dropdown-item" href="/employee/deploy_type7">Type7</a>
                        <a class="dropdown-item" href="/employee/deploy_type8">Type8</a>
                        <a class="dropdown-item" href="/employee/deploy_type9">Type9</a>
                        <a class="dropdown-item" href="/employee/deploy_type10">Type10</a>
                        <a class="dropdown-item" href="/employee/deploy_type11">Type11</a>
                        <a class="dropdown-item" href="/employee/deploy_type12">Type12</a>
                </div>
            </li>
            <!-- third navbar tab -->
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Labour</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <!-- dropdown items -->
                        <a class="dropdown-item" href="/employee/labour_type1">Type1</a>
                        <a class="dropdown-item" href="/employee/labour_type2">Type2</a>
                        <a class="dropdown-item" href="/employee/labour_type3">Type3</a>
                        <a class="dropdown-item" href="/employee/labour_type4">Type4</a>
                        <a class="dropdown-item" href="/employee/labour_type5">Type5</a>
                        <a class="dropdown-item" href="/employee/labour_type6">Type6</a>
                        <a class="dropdown-item" href="/employee/labour_type7">Type7</a>
                        <a class="dropdown-item" href="/employee/labour_type8">Type8</a>
                        <a class="dropdown-item" href="/employee/labour_type9">Type9</a>
                        <a class="dropdown-item" href="/employee/labour_type10">Type10</a>
                        <a class="dropdown-item" href="/employee/labour_type11">Type11</a>
                        <a class="dropdown-item" href="/employee/labour_type12">Type12</a>
                    </div>
                </li>
                <!-- Fourth navbar tab  -->
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Appoint</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_target">
                            <!-- dropdown items -->
                            <a class="dropdown-item" href="/employee/appoint_type1">Type1</a>
                            <a class="dropdown-item" href="/employee/appoint_type2">Type2</a>
                            <a class="dropdown-item" href="/employee/appoint_type3">Type3</a>
                            <a class="dropdown-item" href="/employee/appoint_type4">Type4</a>
                            <a class="dropdown-item" href="/employee/appoint_type5">Type5</a>
                            <a class="dropdown-item" href="/employee/appoint_type6">Type6</a>
                            <a class="dropdown-item" href="/employee/appoint_type7">Type7</a>
                            <a class="dropdown-item" href="/employee/appoint_type8">Type8</a>
                            <a class="dropdown-item" href="/employee/appoint_type9">Type9</a>
                            <a class="dropdown-item" href="/employee/appoint_type10">Type10</a>
                            <a class="dropdown-item" href="/employee/appoint_type11">Type11</a>
                            <a class="dropdown-item" href="/employee/appoint_type12">Type12</a>
                        </div>
                    </li>
                    <!-- fifth navbar tab  -->
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Utilize</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_target">
                                <!-- dropdown items -->
                                <a class="dropdown-item" href="/employee/utilize_type1">Type1</a>
                                <a class="dropdown-item" href="/employee/utilize_type2">Type2</a>
                                <a class="dropdown-item" href="/employee/utilize_type3">Type3</a>
                                <a class="dropdown-item" href="/employee/utilize_type4">Type4</a>
                                <a class="dropdown-item" href="/employee/utilize_type5">Type5</a>
                                <a class="dropdown-item" href="/employee/utilize_type6">Type6</a>
                                <a class="dropdown-item" href="/employee/utilize_type7">Type7</a>
                                <a class="dropdown-item" href="/employee/utilize_type8">Type8</a>
                                <a class="dropdown-item" href="/employee/utilize_type9">Type9</a>
                                <a class="dropdown-item" href="/employee/utilize_type10">Type10</a>
                                <a class="dropdown-item" href="/employee/utilize_type11">Type11</a>
                                <a class="dropdown-item" href="/employee/utilize_type12">Type12</a>
                            </div>
                        </li>
                <!-- sixth navbar tab  -->
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Secure</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <!-- dropdown items -->
                            <a class="dropdown-item" href="/employee/secure_type1">Type1</a>
                            <a class="dropdown-item" href="/employee/secure_type2">Type2</a>
                            <a class="dropdown-item" href="/employee/secure_type3">Type3</a>
                            <a class="dropdown-item" href="/employee/secure_type4">Type4</a>
                            <a class="dropdown-item" href="/employee/secure_type5">Type5</a>
                            <a class="dropdown-item" href="/employee/secure_type6">Type6</a>
                            <a class="dropdown-item" href="/employee/secure_type7">Type7</a>
                            <a class="dropdown-item" href="/employee/secure_type8">Type8</a>
                            <a class="dropdown-item" href="/employee/secure_type9">Type9</a>
                            <a class="dropdown-item" href="/employee/secure_type10">Type10</a>
                            <a class="dropdown-item" href="/employee/secure_type11">Type11</a>
                            <a class="dropdown-item" href="/employee/secure_type12">Type12</a>  
                        </div>
                    </li>  
                </ul>
            </div>
        </nav>
    <!-- navbar end -->